.perfect{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 3px;
	width : 70%;
	position: relative;
	left : 134px;
	bottom: 27px;
	color: #2F3542;
}
.imgid1 img{
	width: 150px;
	height: 200px;
	border-radius: 20px;
	color: #2F3542;
}

.imgid1 img:hover{
	transform: scale(1.05);
}

.textclass{
	position: relative;
	bottom: 117px;
	text-align: center;
	color: black;
	background-color: #f6ebdf;
	opacity: 70%;
}

#textid1{
	flex-grow: 4;
	position: relative;
	top: 87px;
}

.imgid1{
	flex-grow: 1;
}